@model IEnumerable<JokesMVC2023.Models.Data.Joke>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.JokeQuestion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JokeAnswer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.JokeQuestion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JokeAnswer)
                </td>
                <td>
                    <input type="button" value="Edit" class="btn btn-secondary" onclick="showEditModal(@item.Id)" />
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <input type="button" value="Delete" class="btn btn-danger" onclick="deleteConfirm(@item.Id)" />
                    <input type="button" class="btn btn-outline-warning" value="★" onclick="addToFavourites(@item.Id)" />
                </td>
            </tr>
        }
    </tbody>
</table>