@model IEnumerable<JokesMVC2023.Models.Data.Joke>


@foreach (var item in Model)
{
    <div class="row m-2 p-2 glass-container">
        <div class="col">
            @Html.DisplayFor(modelItem => item.JokeQuestion)
        </div>
        <div class="col">
            @Html.DisplayFor(modelItem => item.JokeQuestion)
        </div>
        <div class="col-md-3">
            <div class="row justify-content-between">
                <div class="col-md-3">
                    <input type="button" value="Edit" class="btn btn-secondary" onclick="showEditModal(@item.Id)" />

                </div>
                <div class="col-md-3">
                    <input type="button" value="Delete" class="btn btn-danger" onclick="deleteConfirm(@item.Id)" />

                </div>
                <div class="col-md-3">
                    <input type="button" class="btn btn-outline-warning" value="★" onclick="addToFavourites(@item.Id)" />

                </div>
            </div>

        </div>
    </div>
}

